
.hero {
    background-color: lavender;
   
}


.hero-clock {
    width: 400px;
    height: 400px;
    background-image: url('https://e7.pngegg.com/pngimages/418/25/png-clipart-clock-position-clock-face-digital-clock-clock-clock-position-clock-face-thumbnail.png');
    background-size: cover;
    position: relative;
    margin: 0 auto;
}


.hero-hand {
    width: 10px;
    height: 100px;
    background-image: url('https://e7.pngegg.com/pngimages/740/659/png-clipart-clock-face-minute-clock-angle-hand.png');
    background-size: contain;
    position: absolute;
    top: 100px;
    left: 195px;
    transform-origin: bottom;
    animation-timing-function: linear;
}


.hero-hour {
    animation: rotate-hour 4s infinite; 
}


.hero-minute {
    animation: rotate-minute 36s infinite; 
}


@keyframes rotate-hour {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@keyframes rotate-minute {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
